<div class="archive-item">
  <span class="archive-date text"><i>{{ project.data.date-completed }}</i></span>

  {% if project.data.link contains "http" %}
  <a href="{{ project.data.link }}">
  {% else %}
  <a href="/project/{{ project.data.title | slugify }}/"></a>
  {% endif %}

  <span class="archive-title text">{{ project.data.title }}</span>
  </a>
</div>
